In [49]:
import pandas as pd
import numpy as np
from tabulate import tabulate

<i>Question 7</i>

Find the balance of tourists per year per country and continent. Balance is the difference of number of incoming versus outgoing tourists<br>

In [50]:
## to add comma after every thousandth place in number to avoid scientific notation conversion by tabular
def format_number(num):
    return f"{num:,}"

In [51]:
years = ['2014','2016','2017','2019','2020','2021','2022']
regions = ['North America', 'Central & South America', 'Western Europe', 'Eastern Europe', 'Africa', 'West Asia', 'South Asia', 'South East Asia', 'East Asia', 'Australasia']

# Nationality wise outgoing tourist data not available for 2013 and 2018.
# Also incoming tourist data and outgoing tourists data for 2014 is exactly same
# which is not possible in real world data.
# Similar is the case with data from 2017 where the balance is coming out to be 
# zero for almost all the countries except few.

In [52]:
data_in = {}
data_out = {}

cube_in = {}
cube_out = {}

for y in years:
    data_in[f'{y}'] = pd.read_excel(rf"data\TourismData-{y}\NATIONALITY-WISE GENDER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx")
    # data_in[f'{y}'].set_index('Country', inplace = True)
    # data_in[f'{y}'].index.name = None
    data_in[f'{y}'] = data_in[f'{y}'][['Country','Total']]
    data_out[f'{y}'] = pd.read_excel(rf"data\TourismData-{y}\QUARTERWISE PERCENTAGE DISTRIBUTION OF DESTINATION COUNTRY WISE DEPARTURES OF INDIAN NATIONALS.xlsx")
    # data_out[f'{y}'].set_index('Country of Nationality', inplace = True)
    # data_out[f'{y}'].index.name = None
    data_out[f'{y}'] = data_out[f'{y}'][['Country of Nationality','Arrivals (in numbers)']]

for y in years:
    df_in = data_in[f'{y}']
    df_out = data_out[f'{y}']

    r_in = df_in[df_in['Country'].isin(regions)].index.tolist()
    r_out = df_out[df_out['Country of Nationality'].isin(regions)].index.tolist()
    split_data_in = []
    split_data_out = []

    for i in range(len(r_in)):
        start_idx = r_in[i]
        end_idx = r_in[i+1] if i+1 < len(r_in) else len(df_in)
        section = df_in.iloc[start_idx:end_idx].values.tolist()
        split_data_in.append(section)
    
    for i in range(len(r_out)):
        start_idx = r_out[i]
        end_idx = r_out[i+1] if i+1 < len(r_out) else len(df_out)
        section = df_out.iloc[start_idx:end_idx].values.tolist()
        split_data_out.append(section)
    
    for i in range(len(split_data_in)):
        chunk = split_data_in[i]
        total = 0
        for j in range(1, len(chunk)):
            total += chunk[j][1]
        chunk[0][1] = int(total)
    
    for i in range(len(split_data_out)):
        chunk = split_data_out[i]
        total = 0
        for j in range(1, len(chunk)):
            total += chunk[j][1]
        chunk[0][1] = int(total)
    
    cube_in[f'{y}'] = split_data_in
    cube_out[f'{y}'] = split_data_out

In [53]:
ans_in = {}
ans_out = {}

for y in years:
    cube1 = cube_in[f'{y}']
    cube2 = cube_out[f'{y}']
    ans1 = {}
    ans2 = {}
    ans1['countries'] = []
    ans1['regions'] = []
    ans2['countries'] = []
    ans2['regions'] = []

    for chunk in cube1:
        ans1['regions'].append(chunk[0])
        for c_data in chunk[1:]:
            if(c_data[0] != 'Others'):
                ans1['countries'].append(c_data)
    
    for chunk in cube2:
        ans2['regions'].append(chunk[0])
        for c_data in chunk[1:]:
            if(c_data[0] != 'Others'):
                ans2['countries'].append(c_data)

    ans_in[f'{y}'] = ans1
    ans_out[f'{y}'] = ans2

In [54]:
def find_data(dict_name, year, type, name): # year and type to be provided in string format. type is 'countries' or 'regions'.
    for row in dict_name[year][type]:
        if row[0].lower() == name.lower():
            retval = row.copy()
            retval[1] = int(retval[1])
            return retval[1]
    return None

In [55]:
countries_in = set()
countries_out = set()
for y in years:
    data = ans_in[f'{y}']['countries']
    for country in [c_data[0] for c_data in data]:
        countries_in.add(country)
for y in years:
    data = ans_out[f'{y}']['countries']
    for country in [c_data[0] for c_data in data]:
        countries_out.add(country)
    
countries = sorted(list(countries_out.intersection(countries_in)))

In [56]:
table_r = {}
table_c = {}
table_r['Continent'] = regions
table_c['Country'] = countries

for y in years:
    table_c[f'{y}'] = []
    for c in countries:
        incoming = find_data(ans_in, f'{y}', 'countries', c)
        outgoing = find_data(ans_out, f'{y}', 'countries', c)
        table_c[f'{y}'].append(incoming-outgoing) if (incoming!=None and outgoing!=None) else table_c[f'{y}'].append(None)

    table_r[f'{y}'] = []
    for r in regions:
        incoming = find_data(ans_in, f'{y}', 'regions', r)
        outgoing = find_data(ans_out, f'{y}', 'regions', r)
        table_r[f'{y}'].append(format_number(incoming-outgoing))

In [57]:
print(tabulate(pd.DataFrame(table_c), headers='keys', tablefmt='grid'))
print("Table 1: Balance of tourists per year per country")

+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
|    | Country        |   2014 |    2016 |    2017 |              2019 |              2020 |              2021 |              2022 |
+====+================+========+=========+=========+===================+===================+===================+===================+
|  0 | Afghanistan    |      0 |  -25846 |       0 |  109726           |   41888           |   32433           |     420           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
|  1 | Argentina      |      0 |   -2567 |       0 |   10004           |    3596           |      97           |    3365           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
|  2 | Australia      |      0 |  -30618 |       0 | -222298           |  -78822           |   -3051           | -112506           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
|  3 | Austria        |      0 |    1257 |       0 |   -8188           |    3419           |    -111           |   -4567           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
|  4 | Bahrain        |      0 |     618 | 4500000 | -349673           | -107479           | -206594           | -327522           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
|  5 | Bangladesh     |      0 | 1164752 | 1940900 |       2.07724e+06 |  397211           |  143835           |  805066           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
|  6 | Belgium        |      0 |   -3942 |       0 |   -1550           |      57           |   -6034           |   -4528           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
|  7 | Bhutan         |      0 |   -4707 |    -380 |  -41237           |    2039           |    3792           |   16395           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
|  8 | Brazil         |      0 |   -3164 |       0 |   10896           |    2235           |   -2428           |     665           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
|  9 | Canada         |      0 |  -18200 |       0 | -282601           | -104390           | -179263           | -490019           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 10 | China (Main)   |      0 |    4078 |       0 |  -19243           |   19206           |    1406           |    4574           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 11 | China (Taiwan) |      0 |   -4716 |       0 |   20441           |    4524           |     nan           |     nan           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 12 | Czech Rep.     |      0 |    1080 |       0 |  -14394           |    -395           |   -2508           |   -2850           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 13 | Denmark        |      0 |   -2044 |       0 |  -13123           |    -449           |   -7314           |  -11001           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 14 | Egypt          |      0 |     336 |       0 |  -30742           |   -8990           |  -21298           |  -30896           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 15 | Finland        |      0 |   -2013 |       0 |   -4874           |   -2140           |   -3142           |  -10288           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 16 | France         |      0 |  -10913 |       0 |   26968           |   41288           |  -14110           |  -21814           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 17 | Germany        |      0 |   -3452 |       0 |  -59705           |  -18794           |  -85863           | -113176           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 18 | Greece         |      0 |   -1238 |       0 |  -29495           |   -4123           |   -3305           |  -16642           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 19 | Hungary        |    nan |   -1280 |       0 |  -14767           |    -920           |   -3721           |  -11505           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 20 | Indonesia      |      0 |   -8889 |       0 | -290738           |  -55419           |   -4587           | -153502           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 21 | Iran           |      0 |   -3457 |       0 |     235           |    1372           |   -4605           |   -5684           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 22 | Iraq           |      0 |   -8003 |       0 |  -18614           |    7284           |    7252           |  -44821           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 23 | Ireland        |      0 |   -1553 |       0 |   -6077           |  -11174           |  -23533           |  -44573           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 24 | Israel         |      0 |    1100 |       0 |   37236           |    8911           |   -2911           |   13131           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 25 | Italy          |      0 |  -16498 |       0 |  -89610           |  -32583           |  -39188           |  -75611           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 26 | Japan          |      0 |  -12910 |     770 |  102712           |   19721           |    -746           |    7748           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 27 | Kazakhstan     |      0 |   -2442 |       0 |  -14190           |     145           |   -5381           |  -15868           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 28 | Kenya          |      0 |   -1228 |       0 |  -18253           |   -6954           |  -10835           |  -19194           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 29 | Malaysia       |      0 |  -20165 |       0 | -440707           |  -61876           |  -12116           | -181937           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 30 | Maldives       |      0 |   51269 |   49962 | -124882           |  -68702           | -290631           | -232969           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 31 | Mauritius      |      0 |   -3426 |       0 |  -31660           |   -4062           |   -4595           |  -20063           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 32 | Mexico         |      0 |   -2425 |       0 |   11283           |    1501           |  -23306           |     959           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 33 | Myanmar        |      0 |   40883 |   46459 |   55175           |   24811           |      99           |    8716           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 34 | Nepal          |      0 |   -2921 |       0 |  -74355           |   -3396           |   -6598           |  -62214           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 35 | Netherlands    |      0 |   -4812 |       0 |  -54518           |   -3474           |  -20685           |  -34011           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 36 | New Zealand    |      0 |   -5680 |       0 |  -45203           |  -25212           |    1301           |   -1157           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 37 | Nigeria        |      0 |    5313 |       0 |  -41721           |  -20516           |  -28553           |  -34814           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 38 | Norway         |      0 |    -734 |       0 |   -2351           |     722           |   -2463           |   -7408           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 39 | Oman           |      0 |   -1512 |       0 | -866347           | -265243           | -397493           | -687548           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 40 | Pakistan       |      0 |   60454 |       0 |   12320           |    9509           |    2701           |    -371           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 41 | Philippines    |      0 |   -1271 |       0 |  -25378           |   -4304           |    2436           |  -18757           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 42 | Poland         |      0 |   -2968 |       0 |   11194           |    5745           |   -8619           |  -10384           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 43 | Portugal       |      0 |  -11939 |       0 |   56331           |   23193           |   22105           |   46774           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 44 | Rep. of Korea  |      0 |  -31307 |       0 |   89039           |   19454           |    2324           |   36970           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 45 | Russian Fed.   |      0 |  -51155 |       0 |  151252           |   90960           |  -28708           |   55223           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 46 | Saudi Arabia   |      0 |    8629 |       0 |      -2.86752e+06 | -539930           | -268239           |      -2.4568e+06  |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 47 | Singapore      |      0 |  -11894 |     270 |      -1.40762e+06 | -255540           |  -86871           | -880144           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 48 | South Africa   |      0 |   -4424 |       0 |  -29538           |   -9877           |  -20680           |  -28045           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 49 | Spain          |      0 |   -5100 |       0 |  -15373           |   -6258           |  -16508           |  -34439           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 50 | Sri Lanka      |      0 |  -11888 |   -5716 |  -71379           |  -35265           |  -39855           |   37298           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 51 | Sudan          |      0 |   -5669 |       0 |   23869           |    5271           |    2170           |   16025           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 52 | Sweden         |      0 |   -2162 |       0 |  -13022           |   -4139           |  -12541           |  -23776           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 53 | Switzerland    |      0 |   -1484 |       0 |  -62185           |   -1503           |  -14462           |  -56122           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 54 | Tanzania       |      0 |     765 |       0 |   -5236           |   -4257           |  -16345           |   -9412           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 55 | Thailand       |      0 |  -20424 |       0 |      -1.5733e+06  | -182958           |   -6863           | -897369           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 56 | Turkey         |      0 |   -3706 |       0 |  -72366           |   -5677           |  -14897           |  -98999           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 57 | UAE            |      0 |     -73 |       0 |      -6.33009e+06 |      -2.47014e+06 |      -3.62595e+06 |      -5.99657e+06 |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 58 | UK             |      0 |  -44413 |       0 |  174727           |   32392           | -183962           | -311438           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 59 | USA            |      0 |  -79980 |       0 | -426269           | -198809           | -266046           | -324354           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 60 | Ukraine        |      0 |     765 |       0 |    2233           |    -823           |  -29000           |    2835           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 61 | Vietnam        |      0 |   -7046 |      -3 |  -60285           |  -12156           |   -3555           |  -86499           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
| 62 | Yemen          |      0 |   -2312 |       0 |     nan           |     nan           |     nan           |     nan           |
+----+----------------+--------+---------+---------+-------------------+-------------------+-------------------+-------------------+
Table 1: Balance of tourists per year per country

In [58]:
print(tabulate(pd.DataFrame(table_r), headers='keys', tablefmt='grid'))
print("Table 2: Balance of tourists per year per continent")

+----+-------------------------+--------+-----------+-----------+-------------+------------+------------+-------------+
|    | Continent               |   2014 | 2016      | 2017      | 2019        | 2020       | 2021       | 2022        |
+====+=========================+========+===========+===========+=============+============+============+=============+
|  0 | North America           |      0 | -98,180   | 0         | -708,925    | -303,209   | -445,322   | -814,417    |
+----+-------------------------+--------+-----------+-----------+-------------+------------+------------+-------------+
|  1 | Central & South America |      0 | -13,337   | 0         | 28,893      | 5,159      | -41,687    | -25,140     |
+----+-------------------------+--------+-----------+-----------+-------------+------------+------------+-------------+
|  2 | Western Europe          |      0 | -104,261  | 0         | -111,311    | 13,153     | -442,642   | -758,563    |
+----+-------------------------+--------+-----------+-----------+-------------+------------+------------+-------------+
|  3 | Eastern Europe          |      0 | -66,870   | 0         | 83,998      | 94,638     | -126,354   | -42,327     |
+----+-------------------------+--------+-----------+-----------+-------------+------------+------------+-------------+
|  4 | Africa                  |      0 | -15,859   | 0         | -300,619    | -102,633   | -213,178   | -288,753    |
+----+-------------------------+--------+-----------+-----------+-------------+------------+------------+-------------+
|  5 | West Asia               |      0 | -5,918    | 4,500,000 | -12,594,316 | -3,865,979 | -5,392,333 | -11,368,394 |
+----+-------------------------+--------+-----------+-----------+-------------+------------+------------+-------------+
|  6 | South Asia              |      0 | 1,227,656 | 1,984,766 | 1,887,667   | 344,656    | -158,928   | 557,941     |
+----+-------------------------+--------+-----------+-----------+-------------+------------+------------+-------------+
|  7 | South East Asia         |      0 | -31,780   | 46,726    | -3,784,296  | -554,081   | -112,360   | -2,234,763  |
+----+-------------------------+--------+-----------+-----------+-------------+------------+------------+-------------+
|  8 | East Asia               |      0 | -44,962   | 770       | -42,953     | 28,321     | -6,063     | -7,187      |
+----+-------------------------+--------+-----------+-----------+-------------+------------+------------+-------------+
|  9 | Australasia             |      0 | -40,501   | -3,350    | -270,970    | -104,911   | -2,502     | -116,557    |
+----+-------------------------+--------+-----------+-----------+-------------+------------+------------+-------------+
Table 2: Balance of tourists per year per continent

<i>Question 8</i>

Using the answer in Q7, find the top-5 countries with highest positive and highest
negative balances per year.<br>

In [60]:
df = pd.DataFrame(table_c)

df.loc[:, df.columns[1:]] = df.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')

positive_top5 = {}
for year in df.columns[1:]:  # Skip the 'Country' column
    positive_top5[year] = df.nlargest(5, year, 'all')[['Country', year]]
    
negative_top5 = {}
for year in df.columns[1:]:  # Skip the 'Country' column
    negative_top5[year] = df.nsmallest(5, year, 'all')[['Country', year]] 
    
print("Top 5 positive balances for each year:")
for year, top5 in positive_top5.items():
    if year == '2014' or year == '2017':
        continue
    print(f"{year}:\n{top5}\n")

print("Top 5 negative balances for each year:")
for year, top5 in negative_top5.items():
    if year == '2014' or year == '2017':
        continue
    print(f"{year}:\n{top5}\n")

# skipping years 2014 and 2017 because all the balances were zero resulting in no top-5 or bottom-5 balances

Top 5 positive balances for each year:
2016:
         Country     2016
5     Bangladesh  1164752
40      Pakistan    60454
30      Maldives    51269
33       Myanmar    40883
46  Saudi Arabia     8629

2019:
         Country       2019
5     Bangladesh  2077239.0
58            UK   174727.0
45  Russian Fed.   151252.0
0    Afghanistan   109726.0
26         Japan   102712.0

2020:
         Country      2020
5     Bangladesh  397211.0
45  Russian Fed.   90960.0
0    Afghanistan   41888.0
16        France   41288.0
58            UK   32392.0

2021:
        Country      2021
5    Bangladesh  143835.0
0   Afghanistan   32433.0
43     Portugal   22105.0
22         Iraq    7252.0
7        Bhutan    3792.0

2022:
          Country      2022
5      Bangladesh  805066.0
45   Russian Fed.   55223.0
43       Portugal   46774.0
50      Sri Lanka   37298.0
44  Rep. of Korea   36970.0

Top 5 negative balances for each year:
2016:
          Country   2016
59            USA -79980
45   Russian Fed. -51155
58             UK -44413
44  Rep. of Korea -31307
2       Australia -30618

2019:
         Country       2019
57           UAE -6330091.0
46  Saudi Arabia -2867523.0
55      Thailand -1573305.0
47     Singapore -1407618.0
39          Oman  -866347.0

2020:
         Country       2020
57           UAE -2470144.0
46  Saudi Arabia  -539930.0
39          Oman  -265243.0
47     Singapore  -255540.0
59           USA  -198809.0

2021:
         Country       2021
57           UAE -3625953.0
39          Oman  -397493.0
30      Maldives  -290631.0
46  Saudi Arabia  -268239.0
59           USA  -266046.0

2022:
         Country       2022
57           UAE -5996567.0
46  Saudi Arabia -2456801.0
55      Thailand  -897369.0
47     Singapore  -880144.0
39          Oman  -687548.0